body {
    margin: 0;
    padding: 0;
    font-family: var(--FunnelSans);
    background-color: var(--fondoContendor);
    color: var(--colorTexto);
}

/* Variables */

:root {
    /* Fuentes */
    --FunnelSans: 'Funnel Sans';

    /* Fondos */
    --fondoContendor: #07183f;
    --fondoNavBar: #0d0d6f;
    --fondoEnlaces: #06068b;
    --fondoTarjetaInicio: radial-gradient(circle, rgba(15, 24, 102, 1) 0%, rgba(24, 46, 120, 1) 50%, rgba(20, 21, 77, 1) 100%);
    --fondoSorteo: #e5e1f0;
    --fondoNumerosLista: #d0daff;
    /* texto */
    --colorTexto: #fafbfd;
    --colorTextoOscuro: #191919;
}

/* //* NavBar */

.NavBar {
    background-color: var(--fondoNavBar);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0;
    justify-content: center;
    width: 100%;
    min-width: 400px;
}

.NavBar a {
    color: var(--colorTexto);
    text-decoration: none;
    padding: 10px 20px;
    margin: 5px 10px;
    border-radius: 8px;
    font-weight: bold;
    background-color: var(--fondoEnlaces);
}


/* //* Inicio */


.contTarjeta {
    display: flex;
    width: 95%;
    min-width: 400px;
    margin: 15px;
    background: var(--fondoTarjetaInicio);
    border-radius: 10px;
    border: 2px solid #9d95b0;
    box-sizing: border-box;
}

.contContendido {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contContendido p {
    text-align: center;
}

.titulo_sorteo {
    margin: 8px 0;
    font-size: 75px;
    background: linear-gradient(90deg, #c5cbf9, #9966ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contContendido h2 {
    margin: 0;
}

.contContendido p {
    width: 90%;
}

.contContendido img {
    height: 220px;
    width: 400px;
    object-fit: contain;
}

.contContendido button {
    border: none;
    text-decoration: none;
    border-radius: 23px;
    margin-bottom: 20px;
}

.contContendido button,
a {
    text-decoration: none;
    padding: 10px;
    font-family: var(--FunnelSans);
    font-size: 25px;
    font-weight: bold;
}


/* //* Footer */

.Footer {
    font-size: 10px;
    background-color: var(--fondoNavBar);
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
    width: 100%;
    min-width: 400px;
}

.Footer a {
    font-size: 18px;
    color: var(--colorTexto);
    text-decoration: none;
    padding: 10px 20px;
    margin: 5px 10px;
    border-radius: 8px;
    font-weight: 500;
    background-color: var(--fondoEnlaces);
}


/* //* Sorteo.jsx */

.contSorteo {
    display: flex;
    flex-direction: column;
    background: var(--fondoSorteo);
    color: var(--colorTextoOscuro);
}

.contenidoSorteo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tituloSorteo {
    font-size: 45px;
    background: linear-gradient(90deg, #094293, #0000ff, #1519c0, #38a6d5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0;
}

.contenidoSorteo h3 {
    margin: 15px 0px;
}

.btnBuscar {
    cursor: pointer;
    text-decoration: none;
    border-radius: 30px;
    color: #094293;
    background: var(--colorTexto);
    border: 2px solid #094293;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 23px;
    font-weight: 550;
    margin-bottom: 24px;
    width: 80px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    /* Chrome, Safari, Edge */
    margin: 0;
}


.lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 300px;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;

}

.lista::-webkit-scrollbar {
    width: 8px;
}

.lista::-webkit-scrollbar-track {
    opacity: 0.8;
    border-radius: 10px;
    background: #e3d8d8;
}

.lista::-webkit-scrollbar-thumb {
    background: #8c8585;
    border-radius: 10px;
}

.lista::-webkit-scrollbar-button {
    display: none;
}


.listaNumero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: var(--fondoNumerosLista);
    margin: 2px;
    padding: 5px;
    width: 48px;
    height: 24px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: ease-in-out 200ms;

    &:hover {
        background: var(--fondoEnlaces);
        color: var(--colorTexto);
        font-weight: 900;
    }
}

.numerosSeleccionados {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 15px 0px;
    border-radius: 10px;
    height: 80px;
    background-color: #b9b4e2;
    color: var(--colorTexto);
    display: flex;
    align-items: center;
    max-width: 320px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.numerosSeleccionados h4 {
    margin: 0;
}

.numerosSeleccionados::-webkit-scrollbar {
    width: 8px;
}

.numerosSeleccionados::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #e3d8d8;
    opacity: 1.0;
}

.numerosSeleccionados::-webkit-scrollbar-thumb {
    background: #8c8585;
    border-radius: 10px;
}

.numerosSeleccionados::-webkit-scrollbar-button {
    display: none;
}



.contentSeleccionados {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 400px;
}


.btnSeleccionar {
    display: flex;
    cursor: pointer;
    text-decoration: none;
    border: none;
    margin: 0px 5px;
    font-size: 25px;
    border-radius: 100%;
    padding: 5px 12px;
    background-color: var(--fondoNumerosLista);
    color: var(--colorTexto);
}

.num_select {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5px 0;
}


.num-item {
    text-align: center;
    background: var(--fondoEnlaces);
    color: var(--colorTexto);
    margin: 2px;
    padding: 4px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 500;
    width: 48px;
    cursor: pointer;
}

/* //* Formulario Sorteo */

.formDatos {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--FunnelSans);
    border: 2px solid #a6a6b9;
    border-radius: 10px;
    color: var(--fondoEnlaces);
    font-weight: 500;
}

.formDatos label {
    margin-top: 3px;
    margin-bottom: 10px;
}

.formDatos input{
    border: none;
    padding: 7px;
    opacity: 0.7;
    border-radius: 5px;
    border: 1px solid #094293;
}

.input_comprobatePago {
    display: flex;
    flex-direction: column;
}

.input_seleccionarFile {
    background-color: var(--colorTexto);
    opacity: 0.7;
    padding: 7px;
    margin: 0px 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    text-align: center;
    border: 1px solid #094293;
}

.image_comprobante img {
    height: 80px;
    width: 120px;
    object-fit: cover;
}